<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Plan Your Dine</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Plan Your Dine</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/logout">Logout</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="/my_group">My Group</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="/group_link">New Group</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="/preferences">My Preferences</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/">Home</a></li>
        <li><a href="/group_link">New Group</a></li>
        <li><a href="/my_group">My Group</a></li>
        <li><a href="/preferences">My Preferences</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Enter Group Code</h1>
    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <form action="/join_group" method="POST">
        <div class="row">
          <div class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input name="code" id="group_id" type="text" class="validate">
                <label for="group_id">Group Code</label>
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <div class="row center">
          <button class="btn-large waves-effect waves-light orange" type="submit" name="action">Submit</button><br><br>
        </div>
      </form>
    </div>
  </div>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Create New Group</h1>
    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <br><br>
      <form action="/group_link" method="POST">
        <div class="row center">
          <button class="btn-large waves-effect waves-light orange" type="submit" name="action">Generate Group Code</button><br><br>
        </div>
      </form>
    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Memer Squad Co.</h5>
          <p class="grey-text text-lighten-4">We play LOL like it's our full time job. Any amount of donations would greatly appreciated (Kevin really wants that new Yasuo skin).</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3">Team KAZC</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
