<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/postlogin" class="brand-logo">Plan Your Dine</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Logout</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="/postlogin">Home</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="/my_group">My Group</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="/group_link">New Group</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="/preferences">My Preferences</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/postlogin">Home</a></li>
        <li><a href="/group_link">New Group</a></li>
        <li><a href="/my_group">My Group</a></li>
        <li><a href="/preferences">My Preferences</a></li>
        <li><a href="/">Logout</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Your Group Code is:</h1>
      <br><br>
      <h5 class="center">POGGERS</h5>
    </div>
  </div>
  <br><br>
  <div class="container">
    <div class="section">
      <div class="row center">
        <a href="/my_group" id="download-button" class="btn-large waves-effect waves-light orange">Head to Group!</a><br><br>
      </div>
    </div>
  </div>
  <br><br>
  <br><br>
  <br><br>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Memer Squad Co.</h5>
          <p class="grey-text text-lighten-4">We play LOL like it's our full time job. Any amount of donations would greatly appreciated (Kevin really wants that new Yasuo skin).</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3">Team KAZC</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
