<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Plan Your Dine</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Plan Your Dine</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/logout">Logout</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="/my_group">My Group</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="/group_link">New Group</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="/preferences">My Preferences</a></li>
        </ul>
  
        <ul id="nav-mobile" class="sidenav">
          <li><a href="/">Home</a></li>
          <li><a href="/group_link">New Group</a></li>
          <li><a href="/my_group">My Group</a></li>
          <li><a href="/preferences">My Preferences</a></li>
          <li><a href="/">Logout</a></li>
        </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center black-text">My Preferences</h1>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">
      <form action="/preferences" method="POST" class="col s12">
        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">bakery_dining</i></h2>
              <h5 class="center brown-text">Carbs</h5>
              <label for="Rice">
                <input id="Rice" type="checkbox" class="filled-in" name="rice"/>
                <span>Rice</span><br>
              </label>
              <label for="Noodles">
                <input id="Noodles" type="checkbox" class="filled-in" name="noodles"/>
                <span>Noodles</span><br>
              </label>
              <label for="Pasta">
                <input id="Pasta" type="checkbox" class="filled-in" name="pasta"/>
                <span>Pasta</span><br>
              </label>
              <label for="Bread">
                <input id="Bread" type="checkbox" class="filled-in" name="bread"/>
                <span>Bread</span><br>
              </label>
              <label for="Wraps & Rolls">
                <input id="Wraps & Rolls" type="checkbox" class="filled-in" name="wraps"/>
                <span>Wraps & Rolls</span><br>
              </label>
              <label for="Chips">
                <input id="Chips" type="checkbox" class="filled-in" name="chips"/>
                <span>Chips</span><br>
              </label>
              <label for="Pastries">
                <input id="Pastries" type="checkbox" class="filled-in" name="pastries"/>
                <span>Pastries</span><br>
              </label>
              <label for="Oats & Cereal">
                <input id="Oats & Cereal" type="checkbox" class="filled-in" name="oats"/>
                <span>Oats & Cereal</span><br>
              </label>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center red-text"><i class="material-icons">set_meal</i></h2>
              <h5 class="center red-text">Protein</h5>
              <label for="Pork">
                <input id="Pork" type="checkbox" class="filled-in" name="pork"/>
                <span>Pork</span><br>
              </label>
              <label for="Beef">
                <input id="Beef" type="checkbox" class="filled-in" name="beef"/>
                <span>Beef</span><br>
              </label>
              <label for="Lamb">
                <input id="Lamb" type="checkbox" class="filled-in" name="lamb"/>
                <span>Lamb</span><br>
              </label>
              <label for="Fish">
                <input id="Fish" type="checkbox" class="filled-in" name="fish"/>
                <span>Fish</span><br>
              </label>
              <label for="Chicken">
                <input id="Chicken" type="checkbox" class="filled-in" name="chicken"/>
                <span>Chicken</span><br>
              </label>
              <label for="Shellfish">
                <input id="Shellfish" type="checkbox" class="filled-in" name="shellfish"/>
                <span>Shellfish</span><br>
              </label>
              <label for="Eggs">
                <input id="Eggs" type="checkbox" class="filled-in" name="eggs"/>
                <span>Eggs</span><br>
              </label>
              <label for="Tofu">
                <input id="Tofu" type="checkbox" class="filled-in" name="tofu"/>
                <span>Tofu</span><br>
              </label>
              <label for="Vegan Meat">
                <input id="Vegan Meat" type="checkbox" class="filled-in" name="vegan"/>
                <span>Vegan Meat</span><br>
              </label>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-green-text"><i class="material-icons">grass</i></h2>
              <h5 class="center light-green-text">Veggies</h5>    
              <label for="Leafy Greens">
                <input id="Leafy Greens" type="checkbox" class="filled-in" name="leafy"/>
                <span>Leafy Greens</span><br>
              </label>
              <label for="Tomatoes">
                <input id="Tomatoes" type="checkbox" class="filled-in" name="tomatoes"/>
                <span>Tomatoes</span><br>
              </label>
              <label for="Potatoes">
                <input id="Potatoes" type="checkbox" class="filled-in" name="potatoes"/>
                <span>Potatoes</span><br>
              </label>
              <label for="Beans">
                <input id="Beans" type="checkbox" class="filled-in" name="beans"/>
                <span>Beans</span><br>
              </label>
              <label for="Broccoli">
                <input id="Broccoli" type="checkbox" class="filled-in" name="broccoli"/>
                <span>Broccoli</span><br>
              </label>
              <label for="Cauliflower">
                <input id="Cauliflower" type="checkbox" class="filled-in" name="cauliflower"/>
                <span>Cauliflower</span><br>
              </label>
              <label for="Pickled Veggies">
                <input id="Pickled Veggies" type="checkbox" class="filled-in" name="pickled"/>
                <span>Pickled Veggies</span><br>
              </label>
              <label for="Grilled Veggies">
                <input id="Grilled Veggies" type="checkbox" class="filled-in" name="grilled"/>
                <span>Grilled Veggies</span><br>
              </label>
              <label for="Stir Fry">
                <input id="Stir Fry" type="checkbox" class="filled-in" name="stir"/>
                <span>Stir Fry</span><br>
              </label>
            </div>
          </div>


          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center orange-text"><i class="material-icons">spa</i></h2>
              <h5 class="center orange-text">Fruits</h5>    
              <label for="Apples & Bananas">
                <input id="Apples & Bananas" type="checkbox" class="filled-in" name="apples"/>
                <span>Apples & Bananas</span><br>
              </label>
              <label for="Melons">
                <input id="Melons" type="checkbox" class="filled-in" name="melons"/>
                <span>Melons</span><br>
              </label>
              <label for="Berries">
                <input id="Berries" type="checkbox" class="filled-in" name="berries"/>
                <span>Berries</span><br>
              </label>
              <label for="Citrus Fruits">
                <input id="Citrus Fruits" type="checkbox" class="filled-in" name="citrus"/>
                <span>Citrus Fruits</span><br>
              </label>
              <label for="Fruit Salad">
                <input id="Fruit Salad" type="checkbox" class="filled-in" name="fruit"/>
                <span>Fruit Salad</span><br>
              </label>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center purple-text"><i class="material-icons">icecream</i></h2>
              <h5 class="center purple-text">Desserts & Sweets</h5>    
              <label for="Pie">
                <input id="Pie" type="checkbox" class="filled-in"/>
                <span>Pie</span><br>
              </label>
              <label for="Cakes & Cupcakes">
                <input id="Cakes & Cupcakes" type="checkbox" class="filled-in" name="cakes"/>
                <span>Cakes & Cupcakes</span><br>
              </label>
              <label for="Yogurt">
                <input id="Yogurt" type="checkbox" class="filled-in" name="yogurt"/>
                <span>Yogurt</span><br>
              </label>
              <label for="Cookies">
                <input id="Cookies" type="checkbox" class="filled-in" name="cookies"/>
                <span>Cookies</span><br>
              </label>
              <label for="Ice Cream">
                <input id="Ice Cream" type="checkbox" class="filled-in" name="icecream"/>
                <span>Ice Cream</span><br>
              </label>
            </div>
          </div>
          
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center grey-text"><i class="material-icons">local_cafe</i></h2>
              <h5 class="center grey-text">Drinks</h5>    
              <label for="Soft Drinks">
                <input id="Soft Drinks" type="checkbox" class="filled-in" name="soda"/>
                <span>Soft Drinks</span><br>
              </label>
              <label for="Coffee">
                <input id="Coffee" type="checkbox" class="filled-in" name= "coffee"/>
                <span>Coffee</span><br>
              </label>
              <label for="Milk">
                <input id="Milk" type="checkbox" class="filled-in" name="milk"/>
                <span>Milk</span><br>
              </label>
              <label for="Tea">
                <input id="Tea" type="checkbox" class="filled-in" name="tea"/>
                <span>Tea</span><br>
              </label>
              <label for="Hot Drinks">
                <input id="Hot Drinks" type="checkbox" class="filled-in" name="hot" />
                <span>Hot Drinks</span><br>
              </label>
              <label for="Alcohol">
                <input id="Alcohol" type="checkbox" class="filled-in" name="alcohol"/>
                <span>Alcohol</span><br>
              </label>
            </div>
          </div>
        </div>
        <div class="row center">
          <button class="btn-large waves-effect waves-light orange" type="submit" name="action">Submit</button>
        </div>
      </form>
    </div>
    <br><br>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students that are suffering from sleep deprivation. Any amount of sleep would help support and continue development on this project and is greatly appreciated.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" >Team KAZC</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script>
    const prefs = "{{prefs}}".split(",");
    for (let i = 0; i < prefs.length; i++) {
      $("input[name=" + prefs[i] + "]").prop('checked', true);
    }
  </script>

  </body>
</html>
